<div class="login-container">
  <h2>Portal de monitoreo</h2>
  <h3>Iniciar sesión</h3>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="input-container">
      <label for="mail">Mail</label>
      <input type="email" id="mail" placeholder="ejemplo@correo.com" formControlName="mail" required>
    </div>

    <div class="input-container">
      <input type="password" id="password" placeholder="Contraseña" formControlName="password" required />
    </div>

    <div class="content-cta">
      <a href="" rel="noopener noreferrer">¿Olvidaste tu contraseña?</a>
      <button type="submit">Iniciar Sesión</button>
    </div>
    
  </form>

  <p>Protegido por reCAPTCHA y sujeto a la Política de Privacidad y Condiciones.</p>

  <p>¿No tienes cuenta? <a href="/register"  (click)="goToRegister()">Regístrate aquí</a></p>


</div>
