/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #E8F0F3;
  height: 100%;
}
html {
  height: 100%;
}


@media (max-width: 720px) {
  body {
    background-color: #F9F9FA;
  }
}